footer {
  text-align: center;
}

.top_header {
  padding-top: 70px;
}

.article {
	border-bottom: solid 1px #e8e8e8;
	margin-bottom: 1rem;
	padding-bottom: 1rem;
}

.article-author{

}

.article-title{
	font-size: 24px;
}

.article-date{
	color: #999;
}

.meta{
	margin-bottom: 1rem;
}

.meta span {
	padding-right: 0.75rem;
}

.article-content {
	font-size: 16px;
	line-height: 1.5em;
  margin-top: 30px;
}
